* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
font-family: 'Rubik', sans-serif;
font-size: 62.5%;
}

.section,.section2,.section3 {

  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;


}
.featured-in {
    text-transform: uppercase;

  color: #808080;
  font-size: 1.0rem;
  text-transform: uppercase;
  letter-spacing: 0.50px;
  font-weight: 600;
  text-align: center;
  margin-bottom:33px; 
  color: #888;

}

.feature-images {
    display: flex;

  justify-content: space-around;
}



.feature-images img {

    
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;

font-size: 62.5%;
}
/* =============section2================== */


.section2 {
    padding: 127px 0;
}

.section2 h4 {
    color: #CF7343;
    font-size: 22px;

    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
letter-spacing: 3.75px;
}

.section2 h2 {
   font-weight: 700;
   font-size: 47px;
}

/* ====================section 3============ */

.text-heading {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.text-para {
    font-size: 1.8rem;
    line-height: 1.8;
}
.text-number {
    font-weight: 700;
    font-size:85px;
    color: #DDDDDD;
}

.image {
    width: 35%;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
    row-gap: 9.6rem;
    align-items: center;
}

    

